<div class="booking-color">
  
  <div class="d-flex">
    <div class="w-50">
    <h3>Thank for your booking!</h3>
      <p>Rocking your party from <%= @booking.start_date %> to <%= @booking.end_date %></p>
        <p>Status: <%= @booking.status %></p>
        <p>Total Price: <%= @booking.total_price %></p>
        <%= link_to 'Take me back', djs_path, class: 'btn btn-ghost' %>
      </div>
      
      <div class="w-50 show-img">
          <%= image_tag "https://runthetrap.com/wp-content/uploads/2015/05/jack-u-ep.jpg" %>
      </div>
</div>
</div>



