<h3>Edit your DJ:</h3>
        <%= simple_form_for [@user, @dj] do |f| %>
          <%= f.input :name %>
          <%= f.input :address %>
          <%= f.input :city %>
          <%= f.input :country %>
          <%= f.input :capacity %>
          <%= f.input :description %>
          <%= f.input :price %>
          <%= f.input :photo %>
          <%= f.input :photo_cache, as: :hidden %>
          <%= f.button :submit, class: "btn btn-success" %>
          <%= link_to("Cancel", user_path(current_user), class: "btn btn-warning") %>
        <% end %>