<h1>Finding DJs in Your Area</h1>

<%= form_tag djs_path, method: :get do %>
  <%= text_field_tag :query,
    params[:query],
    class: "form-control",
    placeholder: "Find a Dj"
  %>
  <%= submit_tag "Search", class: "btn btn-primary" %>
<% end %>


<div id="map"
  style="width: 40%; height: 600px;"
  data-markers="<%= @markers.to_json %>"
  data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
</div>






<div class="d-flex">
  <div class="left">
    <div class="cards">
      <% @djs.each do |dj| %>
        <%= link_to dj do %>
          <div class="card content">
            <div class="card-content">
              <div class="card-img">
                <%= cl_image_tag(dj.image.key) %>
              </div>
              <div class="card-label">
                <%= dj.genre %>
              </div>
              <div class="card-title">
                <%= dj.name %> <br>
                $<%= dj.dj_price %>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
  </div>
        <div class="right">
        
      </div>
</div>

