<h1>index djs</h1>

<a href=""><%= link_to "create a new dj button", new_dj_path %></a>

<%= form_tag djs_path, method: :get do %>
  <%= text_field_tag :query,
    params[:query],
    class: "form-control",
    placeholder: "Find a Dj"
  %>
  <%= submit_tag "Search", class: "btn btn-primary" %>
<% end %>

<div class="cards">
<% @djs.each do |dj| %>
<%= link_to dj do %>
 <div class="card content">
    <div class="card-content">
      <div class="card-img">
        <%= cl_image_tag(dj.image.key) %>
      </div>
      <div class="card-label">
        <%= dj.genre %>
      </div>
      <div class="card-title">
        <%= dj.name %>
      </div>
    </div>
  </div>
<% end %>
<% end %>




