<h1><%= @dj.name %></h1>
<br>
<p><strong>About me:</strong><%= @dj.description %></p>
<p><strong>Price:</strong> <%= @dj.dj_price %></p>
<p><strong>Genre:</strong> <%= @dj.genre %></p>
<p><strong>Email:</strong> <%= @dj.email %></p>
<p><strong>Address:</strong> <%= @dj.address %></p>

<br>

<%= link_to 'Take me back', djs_path, class: "btn btn-ghost" %>
<%= link_to "Delete My DJ",
            dj_path(@dj),
            method: :delete,
            data: { confirm: "Are you sure?" } %>

<%= link_to 'Book a DJ', new_dj_booking_path(@dj), class: "btn btn-ghost"  %>


